@tailwind base;
@tailwind components;
@tailwind utilities;

.fc .fc-event {
    background-color: #3b82f6 !important; /* biru terang */
    color: white !important;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    padding: 2px 6px;
}

.fc .fc-event:hover {
    background-color: #2563eb !important;
    cursor: pointer;
}

.fc .fc-daygrid-day-number {
    @apply text-gray-700 dark:text-gray-300 !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
    @apply border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800;
}

.fc-toolbar-title {
    @apply text-gray-900 dark:text-gray-100 font-bold text-xl;
}

.fc-button {
    @apply bg-gray-700 hover:bg-gray-600 text-white border-none;
}

.fc .fc-col-header-cell-cushion {
    @apply text-gray-800 dark:text-white font-bold text-base !important;
}
